In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'
import pandas as pd
import numpy as np
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.set_option('max_columns', None)

In [3]:
a = pd.DataFrame([1,2,3], index=['a', 'b', 'c'], columns=['안녕'])
b = pd.DataFrame([1,2,3], index=['a', 'c', 'd'], columns=['안녕'])
a
b

   안녕
a   1
b   2
c   3

   안녕
a   1
c   2
d   3

In [7]:
a.join(b, lsuffix='_x', rsuffix='_y', how='inner')
# rprefix는 없데..

   안녕_x  안녕_y
a     1     1
c     3     2

lec1_3에서 median 시가총액 연결하기

In [8]:
a_df = pd.read_csv('data/my_data/Small_and_Big.csv', index_col=[0])
a_df.head()

         date     종목명  PBR(IFRS-연결)  베타 (M,5Yr)  수익률(%)  시가총액 (보통)(평균)(원)
0  2000-07-31     BYC         0.210       0.479  -0.580   27786000000.000
1  2000-07-31      CJ         0.510       1.166  -9.000 1160889000000.000
2  2000-07-31  CJ ENM         6.560         nan  17.400  400467000000.000
3  2000-07-31  CJ대한통운         0.170       1.314  -7.960  194962000000.000
4  2000-07-31   CJ씨푸드           nan       0.227  32.000    1987000000.000

In [10]:
median_df = a_df.groupby(['date']).agg({'시가총액 (보통)(평균)(원)': 'median'})
median_df.columns = ['시가총액_median']
median_df.head()

               시가총액_median
date
2000-07-31 34947000000.000
2000-08-31 33684000000.000
2000-09-30 33684000000.000
2000-10-31 30523000000.000
2000-11-30 30798000000.000

In [20]:
a_df.set_index('date').join(median_df, on='date').head()

,종목명,PBR(IFRS-연결),"베타 (M,5Yr)",수익률(%),시가총액 (보통)(평균)(원),시가총액_median
date,,,,,,
2000-07-31,BYC,0.210,0.479,-0.580,27786000000.000,34947000000.000
2000-07-31,CJ,0.510,1.166,-9.000,1160889000000.000,34947000000.000
2000-07-31,CJ ENM,6.560,nan,17.400,400467000000.000,34947000000.000
2000-07-31,CJ대한통운,0.170,1.314,-7.960,194962000000.000,34947000000.000
2000-07-31,CJ씨푸드,nan,0.227,32.000,1987000000.000,34947000000.000

In [23]:
joined_df = a_df.join(median_df, on='date')
joined_df.head()

,date,종목명,PBR(IFRS-연결),"베타 (M,5Yr)",수익률(%),시가총액 (보통)(평균)(원),시가총액_median
0,2000-07-31,BYC,0.210,0.479,-0.580,27786000000.000,34947000000.000
1,2000-07-31,CJ,0.510,1.166,-9.000,1160889000000.000,34947000000.000
2,2000-07-31,CJ ENM,6.560,nan,17.400,400467000000.000,34947000000.000
3,2000-07-31,CJ대한통운,0.170,1.314,-7.960,194962000000.000,34947000000.000
4,2000-07-31,CJ씨푸드,nan,0.227,32.000,1987000000.000,34947000000.000

In [25]:
joined_df[joined_df['date'] == '2000-07-31'].head()

,date,종목명,PBR(IFRS-연결),"베타 (M,5Yr)",수익률(%),시가총액 (보통)(평균)(원),시가총액_median
0,2000-07-31,BYC,0.210,0.479,-0.580,27786000000.000,34947000000.000
1,2000-07-31,CJ,0.510,1.166,-9.000,1160889000000.000,34947000000.000
2,2000-07-31,CJ ENM,6.560,nan,17.400,400467000000.000,34947000000.000
3,2000-07-31,CJ대한통운,0.170,1.314,-7.960,194962000000.000,34947000000.000
4,2000-07-31,CJ씨푸드,nan,0.227,32.000,1987000000.000,34947000000.000